.skills {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.skills__title {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: .8rem;
  font-weight: 400;
  color: #555;
}

.skills__description {
  font-size: 1rem;
  margin-top: 0;
}

.skill {
  max-width: 13rem;
}


.bio {
  font-size: 1.3rem;
  width: 50rem;
  line-height: 1.5;
  margin-right: 3rem;
}
