.flex-container {
  display: flex;
}

.flex-container--full {
  justify-content: space-between;
}

.flex-container--wrap {
  flex-wrap: wrap;
}

.flex-container--flex-start {
  align-items: flex-start;
}

.flex-container--shrink {
  flex-shrink: 1;
}