.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .3);
}

.modal__container {
  position: relative;
  max-width: 700px;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 25px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.45);
  animation-name: modalFade;
  animation-duration: .3s;
} 

 .modal__exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #252933;
  cursor: pointer;
  transition: all .3s ease;
}

.modal__exit-icon {
  padding: 10px 13px;
  font-size: 1.2rem;
  color: #269785;
  transition: all .3s ease;
}

.modal__exit-button:hover {
  background: #269785;
}

.modal__exit-button:hover i {
  color: #252933;
  transform: scale(1.5);
}

.modal__img {
  width: 100% !important;
  border-bottom: 2px solid #333;
} 

.modal__text-container {
  padding: 1rem 0;
}

.modal__description {
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: 0;
}

.modal__link {
  margin-right: 1rem;
}
