 .modal__exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #252933;
  cursor: pointer;
  transition: all .3s ease;
}

.modal__exit-icon {
  padding: 10px 13px;
  font-size: 1.2rem;
  color: #269785;
  transition: all .3s ease;
}

.modal__exit-button:hover {
  background: #269785;
}

.modal__exit-button:hover i {
  color: #252933;
  transform: scale(1.5);
} 

.modal__img {
  width: 100%;
  border-bottom: 2px solid #333;
} 

.modal__text-container {
  padding: 1rem 0;
}

.modal__description {
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: 0;
}

.modal__link {
  margin-right: 1rem;
}
