.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 0 0 33.33%;
  position: relative;
  overflow: hidden;
  margin-bottom: -2px; /* offset some white space between the project cards */
}
.project__img {
  width: 100%;
  height: 100%;
}

.project__overlay-container {
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 0;
  background: #f3f3f3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all .4s ease-out;
}

.project__overlay-container:hover {
  opacity: 1;
}

.project__overlay--slidedown {
  transform: translateY(-200%);
  transition: all .3s ease-out;
}

.project__overlay-container:hover .project__overlay--slidedown {
  transform: translateY(0);
}

.project__overlay--slideup {
  transform: translateY(250%);
  transition: all .3s ease-out;
}

.project__overlay-container:hover .project__overlay--slideup {
  transform: translateY(0);
}

.project__title {
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 4.5rem;
  margin-bottom: 0;
  color: #333;
}

.project__tools {
  color: #269785;
  margin-top: .5rem;
  margin-bottom: 3rem;
}
