.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 0 0 33.33%;
}

.project__img-container {
  transition: .5s ease-out;
  width: 100%;
  height: 100%;
}

.project__img-container--test {
  display: none;
}

.project__img-container:hover {
  opacity: 0;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__overlay-container {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
}

.project__title {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0;
  color: #333;
}

.project__tools {
  color: #269785;
  margin-top: .5rem;
  margin-bottom: 3rem;
}

.project__button {
  background: #f3f3f3;
  border: 1px solid #269785;
  cursor: pointer;
  padding: .7rem 1.7rem;
  text-transform: uppercase;
  color: #555;
  transition: all .2s ease-in;
}

.project__button:hover {
  background: #269785;
  color: #fff;
}
