.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section--off-white {
  background: #f3f3f3;
}

.section--dark {
  background: #252933;
  position: relative;
}

.section--footer {
  background: #269785;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight:400;  
  color: #666;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section__title--modal {
  text-align: left;
  font-size: 2rem;
  text-transform: none;
  color: #444;
}

.section__title--white {
  color: #fff;
}

.section__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: #269785;
  margin-top: .3rem;
  margin-bottom: 0;
}

.section__hr {
  width: 5rem;
  height: 0;
  border: none;
  border-top: 5px solid #269785;
  margin-bottom: 5rem;
}

.section__hr--contact {
  margin-bottom: 3rem;
}

.section__hr--modal {
  width: 100%;
  margin: auto;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  border-top: 1px solid #ccc;
}